<%= form_with(model: [post, post.comments.build]) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: 'form-control', placeholder: 'Write a comment...' %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
