<p><%= link_to "@#{user.username}", profile_url(id: user.id) %></p>
<p><%= link_to "#{user.full_name}", profile_url(id: user.id) %></p>
<p><%= link_to "Friends: #{user.friends.count}",  friendships_path(user_id: user.id) %></p>
<p><%= link_to "Posts: #{user.posts.count}", profile_url(id: user) %></p>